{% load static %}
<nav class="navbar navbar-expand-lg fixed-top" id="main-navbar">
    <div class="container">
        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="{% url "posts:feed" %}">
            <img src="{% static "img/logo-icon.png" %}" height="45" class="d-inline-block align-top"/>
        </a>
        <div class="collapse navbar-collapse">
            
            <ul class="navbar-nav mr-auto">
                {% if request.user.profile %} 
                <li class="nav-item">
                    
                    
                    <a href="{% url "users:detail" request.user.username %}">
                        {% if request.user.profile.picture %}
                            <img src="{{ request.user.profile.picture.url }}" class="d-inline-block align-center nav-avatar"/>
                        {% else %}
                            <img src="{% static 'img/default-profile.png' %}" class="d-inline-block align-center nav-avatar"/>
                        {% endif %}
                    </a>
                    

                        
                       
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-info btn-sm" role="button" data-bs-toggle="button" href="{% url 'users:logout' %}" ><i class="fas fa-plus"></i> Crear Post</a>                        
                    </a>
                </li>
                {% if request.user %}
                <li class="nav-item">
                    <a class="btn btn-outline-info btn-sm" href="{% url 'users:logout' %}" role="button"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Salir</a>
                </li>
                {% else%}
                <li class="nav-item">
                <a class="btn btn-outline-infobtn-sm" href="{% url "users:signup" %}" role="button">
                    <img src="{% static 'img/default-profile.png' %}" height="50" class="d-inline-block align-top rounded-circle"/> Invitado

                </a>
            </li>
            {% endif %}
            {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-info btn-sm" role="button" data-bs-toggle="button" href="{% url 'users:signup' %}" ><i class="fas fa-plus"></i> Registrarse</a>                        
                    </a>
            </li>
                    {% endif %}
            </ul>
            
        </div>
    </div>
</nav>