{% extends "../parent.html" %} {% load static %} {% block contenidoQueCambia %}
<!--variables -->
  
<!-- html -->


<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-xs-12 col-md-8 col-lg-6 user-login-card" id="auth-container">
        <div class="user-logo"><img src="{% static "img/logo-icon.png" %}"></div>

                <h4 class="mb-4">Sube una nueva foto :)</h4>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user }}
                    <input type="hidden" name="profile" value="{{ user.pk }}" />
                    {% comment %} <input type="hidden" name="profile" value="{{ profile.pk }}" /> {% endcomment %}

                    {# Website field #}
                    <div class="form-group">
                        <label for="formFile" class="form-label">Título:</label>
                        <input class="form-control form-control-lg {% if form.title.errors %}is-invalid{% endif %}" type="text" placeholder="Título de la fotografía" name="title" />
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    {# Photo field #}
                    <div>
                        <label for="formFileLg" class="form-label">Selecciona la fotografía:</label>
                        <input class="form-control form-control-lg {% if form.photo.errors %}is-invalid{% endif %}" id="formFileLg" type="file"
                        name="photo" placeholder="Elige tu fotografía">
                        <div class="invalid-feedback">
                            {% for error in form.photo.errors %}{{ error }}{% endfor %}
                        </div>  
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-5">Publica Tu foto</button>
                </form>


        </div>
    </div>

{% endblock %}
