{% extends "../../parent.html" %} {% load static %} {% block contenidoQueCambia%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Post Publicados</h1>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col" style="text-align: center"></th>
            <th scope="col">fecha</th>
            <th scope="col">Titulo</th>
            <th scope="col">Subtitulo</th>
            <th scope="col">Autor</th>
            <th scope="col" style="text-align: center"></th>
            <th scope="col" style="text-align: center"></th>
            <th scope="col" style="text-align: center"></th>
          </tr>
        </thead>
        <tbody>
          {% for p in object_list %}
          <tr>
            <th scope="row">{{p.id}}</th>
            <td style="text-align: center">
              <i class="fa-solid fa-file-lines"></i>
            </td>
            <td>{{p.fecha}}</td>
            <td>{{p.titulo}}</td>
            <td>{{p.subtitulo}}</td>
            <td>{{p.autor}}</td>
            <td style="text-align: center">
              <a href="{% url 'detail' p.id %}"
                ><i class="fa-solid fa-eye"></i
              ></a>
            </td>
            <td style="text-align: center">
              <a href="{% url 'edit' p.id  %}"
                ><i class="fa-solid fa-pen-to-square"></i
              ></a>
            </td>
            <td style="text-align: center">
              <a href="{% url 'delete' p.id %}"
                ><i class="fa-solid fa-trash-can"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
