{% extends "../parent.html" %} {% load static %} {% block contenidoQueCambia %}
<!--variables -->

<!-- html -->
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="col-xs-12 col-md-8 col-lg-6 user-login-card" id="auth-container">
            <div class="user-logo"><img src="{% static "img/logo-icon.png" %}"></div>
            {% block containerUser %}
            <!-- contenido que cambia -->
            {% endblock%}
        </div>
    </div>

{% endblock %}
