{% extends "users/base.html" %}{% load static %}{% block containerUser %}
<!--variables -->
{% comment %} {% block title %} Login | Proyecto Python{% endblock %} {% endcomment %}

<!-- html -->

    {% if form.errors %}
        <p class="alert alert-danger">
            Tu usuario o contraseña no son correctos.<br>
            Intentalo de nuevo.
        </p>
    {% endif%}

    <form method="POST" action="{% url "users:login" %}">
        <!-- usamos url users:login -->
        {% csrf_token %}<!-- crea un token único por sesión para evitar hackeos-->
        <div class="form-group">
            <label for="formFile" class="form-label">Nombre usuario:</label>
            <input class="form-control form-control-lg" type="text" placeholder="Username" name="username" />
            <div><i>Prueba con Manolito</i></div>
        </div>
        <div class="form-group">
            <label for="formFile" class="form-label">Contraseña</label>
            <input class="form-control form-control-lg" type="password" placeholder="Password" name="password" />
            <div><i>Prueba con Quieroentrar00</i></div>
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Acceder</button>
    </form>
    <p class="mt-4">¿Aún no tienes una cuenta? <a href="{% url "users:signup" %}">Registrate aquí.</a></p>

{% endblock %}
